**–í–∞–ª–µ–Ω—Ç–∏–Ω–∞, –ø—Ä–∏–≤–µ—Ç!**

–≠—Ç–æ –ê–ª–µ–∫—Å–µ–π –ö–∞—Ä–≥–∏–Ω, —è –ø—Ä–æ–≤–µ—Ä—è–ª –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ç–≤–æ–∏—Ö –ø—Ä–æ–µ–∫—Ç–æ–≤. –†–∞–¥ –≤—Å—Ç—Ä–µ—Ç–∏—Ç—å —Ç–µ–±—è —Å–Ω–æ–≤–∞ –Ω–∞ –ø–æ—Å–ª–µ–¥–Ω–µ–º –ø—Ä–æ–µ–∫—Ç–µ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞! –ö–∞–∫ –≤—Å–µ–≥–¥–∞, —è –æ—Å—Ç–∞–≤–ª—é –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –≤ –æ—Ç–¥–µ–ª—å–Ω—ã—Ö —è—á–µ–π–∫–∞—Ö Markdown —Å –∑–∞–≥–æ–ª–æ–≤–∫–æ–º ¬´–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞¬ª. –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –∏—Ö - —Ç–∞–∫ –Ω–∞—à–µ –æ–±—â–µ–Ω–∏–µ –±—É–¥–µ—Ç –±–æ–ª–µ–µ –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω—ã–º. –Ø –±—É–¥—É –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ü–≤–µ—Ç–æ–≤—É—é —Ä–∞–∑–º–µ—Ç–∫—É:

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
–¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã —Å–∞–º—ã–µ –≤–∞–∂–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –ë–µ–∑ –∏—Ö –æ—Ç—Ä–∞–±–æ—Ç–∫–∏ –ø—Ä–æ–µ–∫—Ç –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç.
</div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
–¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –Ω–µ–±–æ–ª—å—à–∏–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏–ª–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏. –ü–æ—Å—Ç–∞—Ä–∞–π—Å—è —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏.
</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
–¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –≤–∫–ª—é—á–∞—è –ø–æ–∑–∏—Ç–∏–≤–Ω—ã–µ –º–æ–º–µ–Ω—Ç—ã.
</div>

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –∏–ª–∏ –æ—Ç–≤–µ—á–∞–µ—à—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º. –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:

<div class="alert alert-info"> 
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞</b> 
    
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.
</div>

---

<div class="alert alert-success">
<b>–û–±—Ä–∞—Ç–Ω–∞—è —Å–≤—è–∑—å</b> 
    
–í–∞–ª–µ–Ω—Ç–∏–Ω–∞, —Å–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø—Ä–∏—Å–ª–∞–ª–∞ –ø—Ä–æ–µ–∫—Ç! –ú–Ω–µ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å, –∫–∞–∫ —Ç—ã –æ—Ñ–æ—Ä–º–ª—è–µ—à—å SQL –∑–∞–ø—Ä–æ—Å—ã –∏ –≤—ã–≤–æ–¥–∏—à—å –Ω–µ–æ–±—Ö–æ–¥–∏–º—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ —Ç—ã —Å–æ—Å—Ç–∞–≤–ª—è–ª–∞ –∑–∞–ø—Ä–æ—Å—ã –ø–æ-—Ä–∞–∑–Ω–æ–º—É: –≥–¥–µ-—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª–∞ JOIN, –∞ –≥–¥–µ-—Ç–æ WITH ‚Ä¶ AS. –í —Ü–µ–ª–æ–º, —É —Ç–µ–±—è –≤—Å–µ –∑–∞–ø—Ä–æ—Å—ã –¥–∞—é—Ç –≤–µ—Ä–Ω—ã–π –æ—Ç–≤–µ—Ç. –ü–æ—ç—Ç–æ–º—É –ø—è—Ç—å –∏–∑ –ø—è—Ç–∏! –û–¥–Ω–∞–∫–æ, –æ–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –∫ –ø–µ—Ä–≤–æ–º—É –∑–∞–ø—Ä–æ—Å—É.
    
–¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º ‚Äì –ø—Ä–æ–µ–∫—Ç –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å –ø—Ä–∏–Ω—è—Ç—ã–º! –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ –∏ –æ–±—É—á–µ–Ω–∏—è –Ω–∞ –∫—É—Ä—Å–µ –Ø–Ω–¥–µ–∫—Å.–ü—Ä–∞–∫—Ç–∏–∫—É–º–∞!

<br>
–ñ–µ–ª–∞—é —É—Å–ø–µ—Ö–∞ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç–µ –∏ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–æ–≤ –≤ –±—É–¥—É—â–µ–º!
<br>
–ê–ª–µ–∫—Å–µ–π
</div>

---

## –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

![https://s3-us-west-2.amazonaws.com/secure.notion-static.com/069818d1-0e5c-4d87-a461-0de584ab9c33/Untitled_(33).png](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/069818d1-0e5c-4d87-a461-0de584ab9c33/Untitled_(33).png)

## –ó–∞–¥–∞—á–∏

- –ü–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
- –ü–æ—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.


### –î–æ—Å—Ç—É–ø –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

–°–ª–µ–¥—É–π—Ç–µ¬†–∏–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏, –ø—Ä–∏–ª–æ–∂–µ–Ω–Ω–æ–π –Ω–∏–∂–µ

[–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö .pdf](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/d66eb372-79d0-4799-a527-6ebfe46cbddc/____.pdf)

## –¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è - –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç –û—Ç–ª–∏—á–Ω–æ–µ –Ω–∞—á–∞–ª–æ! –ï—Å—Ç—å –≤—Å—è –Ω–µ–æ–±—Ö–æ–¥–∏–º–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è - –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞, –∏—Å—Ö–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –∏ –æ—Å–Ω–æ–≤–Ω—ã—Ö –∑–∞–¥–∞—á. –•–æ—Ä–æ—à–µ–µ –≤–≤–µ–¥–µ–Ω–∏–µ - –ø–æ–ª–æ–≤–∏–Ω–∞ –ø—Ä–æ–µ–∫—Ç–∞!
</div>

## –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
 'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
 'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
 'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
 'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç –¢—É—Ç —Ç–æ–∂–µ –≤–æ–ø—Ä–æ—Å–æ–≤ –Ω–µ—Ç - –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–æ–∑–¥–∞–Ω, –æ—Å—Ç–∞–ª–æ—Å—å –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –µ–≥–æ —Ä–∞–±–æ—Ç—É.
</div>

### –¢–∞–±–ª–∏—Ü–∞ books

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

In [3]:
query = '''
SELECT 
    *
FROM books
'''

In [4]:
pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
...,...,...,...,...,...,...
995,996,571,Wyrd Sisters (Discworld #6; Witches #2),265,2001-02-06,147
996,997,454,Xenocide (Ender's Saga #3),592,1996-07-15,297
997,998,201,Year of Wonders,358,2002-04-30,212
998,999,94,You Suck (A Love Story #2),328,2007-01-16,331
999,1000,509,Zen and the Art of Motorcycle Maintenance: An ...,540,2006-04-25,143

–í –±–∞–∑–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 1000 –∫–Ω–∏–≥.

### –¢–∞–±–ª–∏—Ü–∞ authors

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

In [5]:
query = '''
SELECT 
    author_id,
    author
FROM authors
'''

In [6]:
pd.io.sql.read_sql(query, con = engine)

     author_id                                author
0            1                            A.S. Byatt
1            2        Aesop/Laura Harris/Laura Gibbs
2            3                       Agatha Christie
3            4                         Alan Brennert
4            5              Alan Moore/David   Lloyd
..         ...                                   ...
631        632         William Strunk Jr./E.B. White
632        633                           Zadie Smith
633        634                 Zilpha Keatley Snyder
634        635                    Zora Neale Hurston
635        636  √Ösne Seierstad/Ingrid Christopherson

[636 rows x 2 columns]

–í –±–∞–∑–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 636 –∞–≤—Ç–æ—Ä–∞—Ö.

### –¢–∞–±–ª–∏—Ü–∞ publishers

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

In [7]:
query = '''
SELECT 
    *
FROM publishers
'''

In [8]:
pd.io.sql.read_sql(query, con = engine)

     publisher_id                          publisher
0               1                                Ace
1               2                           Ace Book
2               3                          Ace Books
3               4                      Ace Hardcover
4               5  Addison Wesley Publishing Company
..            ...                                ...
335           336         Workman Publishing Company
336           337                         Wyatt Book
337           338              Yale University Press
338           339                           Yearling
339           340                     Yearling Books

[340 rows x 2 columns]

–í –±–∞–∑–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 340 –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö.

### –¢–∞–±–ª–∏—Ü–∞ ratings

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

In [9]:
query = '''
SELECT 
    *
FROM ratings
'''

In [10]:
pd.io.sql.read_sql(query, con = engine)

      rating_id  book_id        username  rating
0             1        1      ryanfranco       4
1             2        1   grantpatricia       2
2             3        1    brandtandrea       5
3             4        2        lorichen       3
4             5        2     mariokeller       2
...         ...      ...             ...     ...
6451       6452     1000  carolrodriguez       4
6452       6453     1000         wendy18       4
6453       6454     1000      jarvispaul       5
6454       6455     1000           zross       2
6455       6456     1000         fharris       5

[6456 rows x 4 columns]

–í –±–∞–∑–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 6456 –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥.

### –¢–∞–±–ª–∏—Ü–∞ reviews

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

In [11]:
query = '''
SELECT 
    *
FROM reviews
'''

In [12]:
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
...,...,...,...,...
2788,2789,999,martinadam,Later hospital turn easy community. Fact same ...
2789,2790,1000,wknight,Change lose answer close pressure. Spend so now.
2790,2791,1000,carolrodriguez,Authority go who television entire hair guy po...
2791,2792,1000,wendy18,Or western offer wonder ask. More hear phone f...
2792,2793,1000,jarvispaul,Republican staff bit eat material measure plan...

–í –±–∞–∑–µ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 2793 –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ —Ä–∞–±–æ—Ç–∞–µ—Ç. –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ —Ç–∞–±–ª–∏—Ü–∞—Ö –≤—ã–≤–µ–¥–µ–Ω–∞. –¢—É—Ç –Ω–µ–ø–ª–æ—Ö–æ –±—ã–ª–æ –±—ã –∫–∞–∫-—Ç–æ –æ–±—Å—É–¥–∏—Ç—å –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ - —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –ª–∏ –æ–Ω–∏ –æ–ø–∏—Å–∞–Ω–∏—é. 

</div>

## –†–∞—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–Ω–∏–≥, –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [13]:
query = '''
SELECT 
    COUNT(*) AS cnt
FROM 
    books
WHERE
    publication_date > '2000-01-01'
'''

In [14]:
pd.io.sql.read_sql(query, con = engine)

   cnt
0  819

### –í—ã–≤–æ–¥

–í –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 819 –∫–Ω–∏–≥–∞—Ö, –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–æ—Ç–æ—Ä—ã—Ö –ø–æ–∑–∂–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 1:</b> –≤ —Ü–µ–ª–æ–º –ø–æ –æ—Ç–≤–µ—Ç—É - —Ç—É—Ç –≤—Å–µ –≤–µ—Ä–Ω–æ. –ù–∞ –º–æ–π –≤–∑–≥–ª—è–¥, —Ç—ã –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Ñ–∏–ª—å—Ç—Ä—É–µ—à—å –¥–∞–Ω–Ω—ã–µ, –∏—Å–ø–æ–ª—å–∑—É—è –æ–ø–µ—Ä–∞—Ç–æ—Ä `>`. –ü–æ –ø—Ä–∞–∫—Ç–∏–∫–µ, –∫–æ–≥–¥–∞ –º—ã –≥–æ–≤–æ—Ä–∏–º –æ –¥–Ω—è—Ö, –º–Ω–æ–≥–∏–µ –≤–æ—Å–ø—Ä–∏–Ω–∏–º–∞—é—Ç –∑–∞–¥–∞—á—É `–ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞` –∫–∞–∫ –≤–∫–ª—é—á–∞—è –ø–µ—Ä–≤–æ–µ —è–Ω–≤–∞—Ä—è. –ü–æ—ç—Ç–æ–º—É, —Ç—ã –≤–µ—Ä–Ω–æ –æ—Ç–º–µ—á–∞–µ—à—å, —á—Ç–æ –ª—É—á—à–µ —É—Ç–æ—á–Ω–∏—Ç—å —É –∑–∞–∫–∞–∑—á–∏–∫–∞.

–¢–æ–ª—å–∫–æ –æ–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ –≤–æ—Ç –µ—â–µ –Ω–∞ —á—Ç–æ ‚Äì –≤ –∑–∞–ø—Ä–æ—Å–µ –≤—ã—à–µ –º—ã —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫, –∞ –ª—É—á—à–µ —Å—á–∏—Ç–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, —Ç.–µ. —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –Ω–æ–º–µ—Ä –∫–Ω–∏–≥–∏ (–º–æ–∂–Ω–æ –µ—â–µ –∏ –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –∫–Ω–∏–≥–∏ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å). –ö–æ–Ω–µ—á–Ω–æ, –ø—Ä–∏ –∑–∞–≥—Ä—É–∑–∫–µ –¥–∞–Ω–Ω—ã—Ö –±—ã–ª–æ –≤–∏–¥–Ω–æ, —á—Ç–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –ø–æ id —Å–æ–≤–ø–∞–¥–∞–µ—Ç —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —Å—Ç—Ä–æ–∫, –Ω–æ –≤—Å–µ –∂–µ, –ª—É—á—à–µ –∏–∑–±–µ–∂–∞—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–∏—è –∏ —Å—á–∏—Ç–∞—Ç—å –∏–º–µ–Ω–Ω–æ –ø–æ –∫–Ω–∏–≥–∞–º, –º–æ–∂–Ω–æ –¥–∞–∂–µ –∏ —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ id: `COUNT(DISTINCT book_id)`:
</div>

In [15]:
# –∫–æ–¥ —Ä–µ–≤—å—é–µ—Ä–∞ (—É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –ø–æ id):
pd.io.sql.read_sql('''
SELECT 
    COUNT(DISTINCT book_id) AS cnt
FROM 
    books
WHERE
    publication_date > '2000-01-01'
''', con = engine)

   cnt
0  819

In [16]:
# –∫–æ–¥ —Ä–µ–≤—å—é–µ—Ä–∞ (—É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –ø–æ –∑–∞–≥–æ–ª–æ–≤–∫—É):
pd.io.sql.read_sql('''
SELECT 
    COUNT(DISTINCT title) AS cnt
FROM 
    books
WHERE
    publication_date > '2000-01-01'
''', con = engine)

   cnt
0  818

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
–û–∫–∞–∑—ã–≤–∞–µ—Ç—Å—è, –≤ –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏ –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –∫–Ω–∏–≥–∏, –ø–æ—ç—Ç–æ–º—É –ª—É—á—à–µ —Å—á–∏—Ç–∞—Ç—å –ø–æ id.
</div>

## –†–∞—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

In [17]:
query = '''
SELECT
    books.title AS book_name,
    subquery_reviews.reviews_cnt AS reviews_cnt,
    AVG(ratings.rating) AS avg_rating
FROM 
    books
    LEFT JOIN (
        SELECT
            book_id,
            COUNT(review_id) AS reviews_cnt
        FROM
            reviews
        GROUP BY
            book_id
        ) AS subquery_reviews ON subquery_reviews.book_id = books.book_id
    LEFT JOIN ratings ON ratings.book_id = books.book_id
WHERE reviews_cnt IS NOT NULL
GROUP BY
    books.title,
    subquery_reviews.reviews_cnt
ORDER BY
    reviews_cnt DESC
'''

In [18]:
pd.io.sql.read_sql(query, con = engine)

,book_name,reviews_cnt,avg_rating
0,Twilight (Twilight #1),7,3.662500
1,Eat Pray Love,6,3.395833
2,Harry Potter and the Chamber of Secrets (Harry...,6,4.287500
3,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
4,Outlander (Outlander #1),6,4.125000
...,...,...,...
989,The Social Contract,1,3.500000
990,To Green Angel Tower (Memory Sorrow and Thor...,1,4.500000
991,Tsubasa: RESERVoir CHRoNiCLE Vol. 1,1,2.500000
992,Wicked: The Grimmerie,1,3.500000
993,Winter Prey (Lucas Davenport #5),1,4.500000

In [19]:
query = '''
SELECT
    books.title AS book_name,
    subquery_reviews.reviews_cnt AS reviews_cnt,
    AVG(ratings.rating) AS avg_rating
FROM 
    books
    LEFT JOIN (
        SELECT
            book_id,
            COUNT(review_id) AS reviews_cnt
        FROM
            reviews
        GROUP BY
            book_id
        ) AS subquery_reviews ON subquery_reviews.book_id = books.book_id
    LEFT JOIN ratings ON ratings.book_id = books.book_id
GROUP BY
    books.title,
    subquery_reviews.reviews_cnt
ORDER BY
    avg_rating DESC
'''
pd.io.sql.read_sql(query, con = engine)

,book_name,reviews_cnt,avg_rating
0,Homage to Catalonia,2.0,5.00
1,March,2.0,5.00
2,In the Hand of the Goddess (Song of the Liones...,2.0,5.00
3,Welcome to Temptation (Dempseys #1),2.0,5.00
4,Stone of Farewell (Memory Sorrow and Thorn #2),1.0,5.00
...,...,...,...
995,The World Is Flat: A Brief History of the Twen...,3.0,2.25
996,Junky,2.0,2.00
997,His Excellency: George Washington,2.0,2.00
998,Drowning Ruth,3.0,2.00
999,Harvesting the Heart,2.0,1.50

### –í—ã–≤–æ–¥

–ü—Ä–∏ –≤—ã–≤–æ–¥–µ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã –º–æ–∂–Ω–æ —É–≤–∏–¥–µ—Ç—å, —á—Ç–æ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –Ω–µ —Å–ª–∏—à–∫–æ–º –≤–µ–ª–∏–∫–æ - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –æ–±–∑–æ—Ä–æ–≤ (7) –ø—Ä–∏—à–ª–æ—Å—å –Ω–∞ –∫–Ω–∏–≥—É –°—É–º–µ—Ä–∫–∏. –¢–∞–∫–∂–µ –µ—Å—Ç—å 6 –∫–Ω–∏–≥ —Å–æ–≤—Å–µ–º –±–µ–∑ –æ–±–∑–æ—Ä–æ–≤.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 2:</b> –≠—Ç–æ—Ç –∑–∞–ø—Ä–æ—Å —Ç–æ–∂–µ –≤–µ—Ä–Ω—ã–π! 
</div>

## –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

In [20]:
query = '''
SELECT
    publishers.publisher,
    COUNT(book_id) AS books_cnt
FROM
    books
    LEFT JOIN publishers ON publishers.publisher_id = books.publisher_id
WHERE 
    num_pages > 50
GROUP BY
    publishers.publisher
ORDER BY
    books_cnt DESC
LIMIT 1
'''

In [21]:
pd.io.sql.read_sql(query, con = engine)

       publisher  books_cnt
0  Penguin Books         42

### –í—ã–≤–æ–¥

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü - —ç—Ç–æ Penguin Books. –û–Ω–æ –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏. –≠—Ç–æ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —Å—Ç–∞—Ä–æ–µ –∏ —Å–µ—Ä—å–µ–∑–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –ø–æ—ç—Ç–æ–º—É –Ω–µ—É–¥–∏–≤–∏—Ç–µ–ª—å–Ω–æ, —á—Ç–æ –æ–Ω–æ –Ω–∞ –ø–µ—Ä–≤–æ–º –º–µ—Å—Ç–µ.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 3:</b> –¢—É—Ç —Ç–æ–∂–µ –≤—Å–µ —Ö–æ—Ä–æ—à–æ!
</div>

## –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Å —É—á–µ—Ç–æ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏)

In [22]:
query = '''
SELECT
    authors.author,
    AVG(subquery_ratings.avg_rating) AS avg_rating
FROM
    books
    LEFT JOIN (
        SELECT 
            book_id,
            AVG(rating) AS avg_rating,
            COUNT(rating_id) AS rating_cnt
        FROM
            ratings
        GROUP BY
            book_id
    ) AS subquery_ratings ON subquery_ratings.book_id = books.book_id
    LEFT JOIN authors ON authors.author_id = books.author_id
WHERE
    rating_cnt >= 50
GROUP BY
    author
ORDER BY
    avg_rating DESC
LIMIT 1
'''

In [23]:
pd.io.sql.read_sql(query, con = engine)

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.283844

### –í—ã–≤–æ–¥

–°–∞–º–∞—è –≤—ã—Å–æ–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥ —É –∞–≤—Ç–æ—Ä–∞ –î. –†–æ—É–ª–∏–Ω–≥. –≠—Ç–æ –¥–æ–≤–æ–ª—å–Ω–æ –æ–∂–∏–¥–∞–µ–º—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç - —Å–µ—Ä–∏—è –∫–Ω–∏–≥ –æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –ø–æ–ª—å–∑—É–µ—Ç—Å—è –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å—é –ø–æ –≤—Å–µ–º—É –º–∏—Ä—É. –°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –µ–µ –∫–Ω–∏–≥ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 4.28 –±–∞–ª–ª–∞.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 4:</b> –≠—Ç–æ—Ç –∑–∞–ø—Ä–æ—Å —Ç–æ–∂–µ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω —É—Å–ø–µ—à–Ω–æ. –•–æ—Ä–æ—à–æ, —á—Ç–æ –º—ã –≤ –Ω–∞—á–∞–ª–µ –ø–æ–¥—Å—á–∏—Ç–∞–ª–∏ —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∫–Ω–∏–≥, —É –∫–æ—Ç–æ—Ä—ã—Ö 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫, –∞ —É–∂–µ –∑–∞—Ç–µ–º –ø–æ —ç—Ç–∏–º –∫–Ω–∏–≥–∞–º —Å—á–∏—Ç–∞–ª–∏ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –¥–ª—è –∞–≤—Ç–æ—Ä–∞.
</div>

## –†–∞—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

In [24]:
query = '''
WITH
    ratings_subquery AS (
        SELECT
            ratings.username,
            COUNT(rating_id) AS ratings_cnt
        FROM
            ratings
        GROUP BY
            ratings.username
        HAVING
            COUNT(rating_id) > 50
        ),
    reviews_subquery AS (
        SELECT
            reviews.username,
            COUNT(review_id) AS reviews_cnt
        FROM
            reviews
        GROUP BY
            reviews.username
    )
SELECT
    AVG(reviews_cnt) as avg_reviews_cnt
FROM
    ratings_subquery
    LEFT JOIN reviews_subquery ON reviews_subquery.username = ratings_subquery.username
'''

In [25]:
pd.io.sql.read_sql(query, con = engine)

   avg_reviews_cnt
0        24.333333

### –í—ã–≤–æ–¥

–ù–∞–π–¥–µ–Ω–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –∞–∫—Ç–∏–≤–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è—Ö, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫. 
–í —Å—Ä–µ–¥–Ω–µ–º —Ç–∞–∫–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –æ—Å—Ç–∞–≤–ª—è—é—Ç 24 –æ–±–∑–æ—Ä–∞.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
üëç <b>–ó–∞–ø—Ä–æ—Å 5:</b> –ò —Ç—É—Ç –≤—Å–µ –æ—Ç–ª–∏—á–Ω–æ!
</div>

## –û–±—â–∏–π –≤—ã–≤–æ–¥

–í —Ö–æ–¥–µ –¥–∞–Ω–Ω–æ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –±—ã–ª–∞ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–∞ –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –∫—Ä—É–ø–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í –Ω–µ–π —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –í —Ä–µ–∑—É–ª–∞—Ç–µ –∞–Ω–∞–ª–∏–∑–∞ –ø–æ–ª—É—á–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã:

1. –í –ë–î –Ω–æ–≤–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 1000 –∫–Ω–∏–≥. –î–ª—è –∫—Ä—É–ø–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ —ç—Ç–æ –Ω–µ —Ç–∞–∫ –º–Ω–æ–≥–æ. 
2. –í –ë–î —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ 636 –∞–≤—Ç–æ—Ä–∞—Ö,  340 –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö,  6456 –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥ –∏ –æ 2793 –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏.
3. –ü–æ—Ä—è–¥–∫–∞ 82% –∫–Ω–∏–≥ –≤—ã–ø—É—â–µ–Ω—ã –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 20 –ª–µ—Ç (819).
4. –î–ª—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞ –∫–Ω–∏–≥ –≤ –ë–î –µ—Å—Ç—å –æ—Ü–µ–Ω–∫–∏ –∏ –æ–±–∑–æ—Ä—ã (99%).
5. –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –Ω–µ —Å–ª–∏—à–∫–æ–º –≤–µ–ª–∏–∫–æ - 7, –æ–Ω–æ –ø—Ä–∏—à–ª–æ—Å—å –Ω–∞ –∫–Ω–∏–≥—É –°—É–º–µ—Ä–∫–∏. 
6. –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü - —ç—Ç–æ Penguin Books. –û–Ω–æ –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏, —á—Ç–æ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 4% –æ—Ç –≤—ã–±–æ—Ä–∫–∏.
7. –°–∞–º—ã–µ –≤—ã—Å–æ–∫–∏–µ –æ—Ü–µ–Ω–∫–∏ —É –∞–≤—Ç–æ—Ä–∞ –î. –†–æ—É–ª–∏–Ω–≥. –°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –µ–µ –∫–Ω–∏–≥ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 4.28 –±–∞–ª–ª–∞.
8. –í –±–∞–∑–µ –µ—Å—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –∞–∫—Ç–∏–≤–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è—Ö - –∫—É–ø–ª–µ–Ω–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ "–∂–∏–≤–æ–π", –Ω–æ —Ä–∞—Å–ø–æ–ª–∞–≥–∞–µ—Ç –Ω–µ —Å–ª–∏—à–∫–æ–º –±–æ–ª—å—à–æ–π –ø–æ–¥–±–æ—Ä–∫–æ–π –∫–Ω–∏–≥.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞</b> 
    
‚≠ê –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –µ—Å—Ç—å –∏—Ç–æ–≥–æ–≤—ã–µ –≤—ã–≤–æ–¥—ã –ø–æ –≤—Å–µ–º –∑–∞–ø—Ä–æ—Å–∞–º.

</div>